:root {
  --color-primary: #4c8930;
  --color-secondary: #ffffff;
  --color-accent: #4c8930;
  --color-headings: #373a3c;
  --color-body: #373a3c;
}
/* Typography*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2rem;
}
h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3.2rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*links */
a {
  text-decoration: none;
}

.link-box {
  background-color: #fff;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-box:hover {
  background-color: var(--color-accent);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .link-box {
    font-size: 1.5rem;
  }
}
.badge {
  border-radius: 20px;
  padding-right: 0.5rem 2rem;
  font-weight: bold;
  white-space: nowrap;
  font-size: 2rem;
}
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
}
