:root {
  --color-primary: #4c8930;
  --color-secondary: #ffffff;
  --color-accent: #4c8930;
  --color-headings: #373a3c;
  --color-body: #373a3c;
}
/* Typography*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2rem;
  line-height: 1.1;
}
h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3.2rem;
}
p {
  margin-top: 0;
}
.block__heading {
  color: var(--color-secondary);
}
.white__text {
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*links */
a {
  text-decoration: none;
}

.link-box {
  background-color: #fff;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 10px 20px;

  font-size: 2rem;
  font-weight: bold;
}
.link-box:hover {
  background-color: var(--color-accent);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .link-box {
    font-size: 1.5rem;
  }
}
/* buttons*/
.btn {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  position: inherit;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background-color: #3fa33f;
}
.btn--secondary {
  background: var(--color-accent);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #3fa33f;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #3fa33f;
}
/*inputs*/
.input {
  width: 177px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 0 2rem;
}
::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.6rem;
  }
}
/*Lists */
.list {
  list-style: none;
  padding-left: 0px;
}
/* Cards*/

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 3rem auto;
  width: 35.8rem;
  height: 21.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
  display: block;
}

.card .card_image {
  background-color: #212121;
  width: inherit;
  height: inherit;
  border-radius: 1rem;
}

.card .card_image img {
  background-color: #212121;
  width: inherit;
  height: inherit;
  border-radius: 1rem;
  object-fit: cover;
}

.card .card_title {
  font-size: 2.8rem;
  letter-spacing: 0rem;
  line-height: 2.5rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
  margin-top: -13rem;
  height: 4rem;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
@media screen and (min-width: 1024px) {
  .cards-list {
    flex-wrap: nowrap;
    gap: 4rem;
  }
}

/* Icons */
.icon {
  width: 5.8rem;
  height: 6rem;
}
.icon--primary {
  fill: var(--color-primary);
}
@media screen and (max-width: 768px) {
  .icon {
    width: 4rem;
    height: 4rem;
  }
}
/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*nav Bar*/
.nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.nav__list {
  width: 100%;
  list-style: none;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #999999;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-primary);
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    position: fixed;
    left: 150px;
    top: 55px;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }

  * {
    box-sizing: border-box;
  }

  .topnav {
    overflow: hidden;
    background-color: var(--color-primary);
  }

  .search-container {
    position: fixed;
    top: 75px;
    right: 0px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #373a3c;
    font-weight: 400;
    font-family: "Open Sans";
    max-height: 100%;

    opacity: 1;
  }

  .topnav a {
    float: right;
    display: block;
    color: var(--color-secondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    color: black;
  }

  .topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
  }

  .search-container button {
    margin-top: 0px;
    margin-right: 16px;
    background: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
  }

  .search-container button:hover {
    background: rgb(4, 177, 4);
  }
}
@media screen and (min-width: 768px) {
  .search-container {
    position: fixed;
    top: 70px;
    right: 50px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #373a3c;
    font-weight: 400;
    font-family: "Open Sans";
    max-height: 100%;
    opacity: 1;
  }
  .search-container button {
    margin-top: 0px;
    margin-right: 16px;
    background: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
  }
  .topnav {
    overflow: hidden;
    background-color: var(--color-primary);
  }
  .topnav a {
    float: right;
    display: block;
    color: var(--color-secondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}
/* Grids */

.grid2 {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Hero*/
.hero-image {
  position: relative;
  height: 30rem;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5) url(/images/computer.jpg) no-repeat center;
  background-blend-mode: darken;
  background-size: cover;
}

.hero__btn {
  color: var(--color-secondary);
  padding: 1rem 2.4rem;
  background: var(--color-primary);
  border-radius: 5px;
  margin: 20px;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.9;
  font-family: "Open Sans";
}

.hero__btn:hover {
  opacity: 1;
}
span {
  font-size: 3.2rem;
  white-space: pre;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    width: 14rem;
    height: 5rem;
    font-size: 1.6rem;
  }
  span {
    font-size: 5.6rem;
    letter-spacing: -0.1rem;
    line-height: 8rem;
    color: var(--color-secondary);
    font-weight: 300;
  }
}
/* Blocks*/
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}
.block__header {
  text-align: center;
}
.block--dark {
  width: 100%;
  height: 100%;
  background-color: #ebedef;
}
.block--black {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.block--dark .block__heading {
  color: var(--color-secondary);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.container-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: var(--color-secondary);
  font-weight: 700;
}
.container .white__text {
  font-size: 5.6rem;
  letter-spacing: -1px;
  line-height: 80px;
  color: var(--color-secondary);
  font-weight: 300;
  font-family: "Open Sans";
  text-align: center;
}
/* nav*/
.nav1 {
  background: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}
.nav1__list {
  width: 100%;
  list-style: none;
  margin: 0;
}
.nav1__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav1__item > a {
  color: #999999;
}
.nav1__item > a:hover {
  color: var(--color-primary);
}
.nav1__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
nav.collapsible--expanded .nav1__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--color-primary);
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .nav1__toggler {
    display: none;
  }
  .nav1__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav1__item {
    border: 0;
  }
  .nav1 {
    padding: 0 14rem;
  }
}
/* Media*/
.media {
  display: flex;
  border-radius: 2rem;
  float: left;
  width: 100%;
  flex-wrap: row;
}
.media__title {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 5.6rem;
  color: #373a3c;
}
.media__body {
  margin: 0 2rem;
}
.icon__p {
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #373a3c;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .media__title {
    font-size: 2.4rem;
    border-radius: 0px;
    font-weight: 500;
  }

  .icon__p {
    font-size: 1.2rem;
    margin-top: 0.1rem;
    line-height: 2.4rem;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
}
/* Latest News*/
.text-card {
  width: 36.1rem;
  height: 17.3rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  background-color: white;
  margin-bottom: 5rem;
}
.card_content {
  width: inherit;
  height: inherit;
  font-size: 2rem;
  color: #373a3c;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: -12rem;
  padding: 1rem 7%;
  text-align: left;
}
.date {
  width: 239px;
  height: 120px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #373a3c;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
  padding: 1rem 7%;
}
.block__header {
  font-size: 32px;
  line-height: 15rem;
  color: #373a3c;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card_content {
    width: initial;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

/* references*/

.logo-container {
  width: 264px;
  height: 180px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}
.i-logo {
  width: 140px;
  height: 70px;
  margin-top: 5rem;
  margin-left: 6rem;
}
.l-logo {
  width: 170px;
  height: 150px;
  margin-top: 1rem;
  margin-left: 5rem;
}
.TBS-logo {
  width: 80px;
  height: 80px;
  margin-top: 4.5rem;
  margin-left: 9.5rem;
}
.B-logo {
  width: 182px;
  height: 67px;
  margin-top: 5rem;
  margin-left: 3rem;
}

.logo-b {
  background: white;
  width: 264px;
  height: 180px;
  border: 1px solid #e0e0e0;
}
.logo-text {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #373a3c;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .grid2 {
    gap: 4rem;
    margin-left: 10rem;
  }
}

.divider {
  width: 100%;
  height: 0.1rem;
  background-color: #cccccc;
  margin-top: 7rem;
}
/*news-letter */
.news-letter {
  text-align: center;
}
.btn2 {
  max-block-size: 127px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  position: inherit;
}
.nl-h1 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .nl-h1 {
    font-size: 32px;
  }
  .nl-p {
    width: 360px;
    height: 120px;
    margin-left: 37rem;
    font-size: 16px;
  }
  .input2 {
    width: 418px;
    height: 50px;
    border-radius: 5px;
  }
  .btn2 {
    width: 127px;
    height: 50px;
    border-radius: 5px;
    background-color: #4c8930;
  }
  .subscribe {
    margin-top: -5rem;
  }
}
/* Footer */
.footer {
  background: #000000;
}
.footer__div {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__heading {
  font-weight: 600;
}
.footer__brand {
  color: var(--color-secondary);
  margin-top: 2rem;
  font-family: "Open Sans";
}
.footer__h2 {
  font-size: 2rem;
}
.social__medias {
  height: 5.5rem;
  width: 5.5rem;
  margin-top: 4rem;
}
.btn3 {
  max-block-size: 127px;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__content {
    display: none;
    margin-top: 1rem;
  }
  .footer__h1 {
    font-size: 20px;
    letter-spacing: 0px;
    margin-left: 10rem;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
  }
  .footer__h2 {
    width: 264px;
    height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    margin-left: 10rem;
  }

  .footer__heading {
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    padding: 0px;
    text-align: right;
  }
  .footer__brand {
    margin-top: 1px;
  }
  .footer__p {
    font-size: 16px;
    font-weight: 100;
    margin-left: 10rem;
  }
  .btn3 {
    width: 111px;
    height: 35px;
    border-radius: 5px;
    font-size: 13px;
    position: absolute;
    top: 251rem;
    left: 35rem;
  }
  .socials {
    position: absolute;
    top: 245rem;
    right: 25rem;
  }
  .social__medias {
    width: 3.5rem;
    height: 3.5rem;
  }
  .footer__div {
    border: 0;
    margin-left: 30rem;
    text-align: right;
  }
}
