<section class="block container">
    <header class="block__header">
      <h2>hedari</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
        quibusdam autem eaque asperiores laborum nulla eos laboriosam aliquid
        dolorem rerum?
      </p>
    </header>
  </section>
  <section class="block block--dark">
    <header class="block__header">
      <div class="container">
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
        quibusdam autem eaque asperiores laborum nulla eos laboriosam aliquid
        dolorem rerum?
      </p>
    </header>
  </div>
  </section>