<div class="cards-list">
    <div class="card 1">
      <div class="card_image">
        <img src="images/sisallontuotantoa.jpg" />
      </div>
      <div class="card_title ">
        <p>Company</p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img
          src="images/markkinoinninautomaation-mvv (1).jpg"
        />
      </div>
      <div class="card_title ">
        <p>Products</p>
      </div>
    </div>

    <div class="card 3">
      <div class="card_image">
        <img src="images/yini.jpg" />
        
      </div>
      <div class="card_title">
        <p>Contact us</p>
      </div>
    </div>

    
    </div>
  </div>