<div class="media">
    <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#business"></use>
    </svg>
  </div>
    <div class="media__body">
    <h1 class="media__title">3000</h1>
    <p class="icon__p">Clients</p>
  </div>
    
  </div>
  <div class="media">
    <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#face"></use>
    </svg>
  </div>
    <div class="media__body">
    <h1 class="media__title">180</h1>
    <p class="icon__p">employees</p>
  </div>
    
  </div>
  <div class="media">
    <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#public"></use>
    </svg>
  </div>
    <div class="media__body">
    <h1 class="media__title">10000</h1>
    <p class="icon__p">Daily users</p>
  </div>
    
  </div>
  </div>