<nav class="nav1 collapsible">
  <a href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--primary nav1__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav1__list collapsible__content">
    <li class="nav1__item"><a href="#">Company</a></li>
    <li class="nav1__item"><a href="#">Product</a></li>
    <li class="nav1__item"><a href="#">Contact Us</a></li>
    <li class="search-icon">
      <input type="text" class="input" placeholder="Search" />
      <button class="btn btn--accent">Search</button>
    </li>
  </ul>
</nav>
