<div class="topnav   ">
    <a href="#intranet">Intranet</a>
    <a href="#news">News</a>

 
  </div>

  <nav class="nav collapsible">
    <a href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--primary nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
<ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">company</a></li>
      <li class="nav__item"><a href="#">product</a></li>
      <li class="nav__item"><a href="#">Contact Us</a></li>
    </ul>
    <div class="search-container ">
      <input type="text" placeholder="Search.." name="search" />
      <button type="submit">Submit</button>    
    </nav>